html { margin: 30px auto; width: 70%; font-size: 100%; }
body { margin: 0px auto; width: 100%; font-size: 100%; }

a { text-decoration: none; color: #4682B4;}/*color of hyperlinks #4682B4 */
a:hover { text-decoration: underline; color: #FF0000;}/*color of hover for hyperlinks #FF0000 */

p, ul { font-size: 1.1em; line-height: 1.3em; color: #333; font-family: 'fira sans'; }


h1 { font-size: 1.8em !important; font-weight: 600; font-family: 'fira sans'; }
h2 { font-size: 1.3em !important; font-weight: 600; font-family: 'fira sans'; }
h3 { font-size: 1.1em !important; font-weight: 600; font-family: 'fira sans'; }
h4 { font-size: 1.0em !important; font-weight: 600; font-family: 'fira sans'; color: #4682B4;  }/*#4682B4*/

img { 
   border:1px solid #000000;/*#32cd32 LIME GREEN*/
}

img {
  max-width: 100%;

  /* just in case, to force correct aspect ratio */
  height: auto !important;
}

nav ul, footer ul { font-size: 1em; font-family: 'fira sans'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

nav ul, footer ul a { color: #4682B4; }/*color of footer icons, steel-blue = #4682B4 gray = #999 or #d5d5d5*/

nav ul a { color: #4682B4; font-size: 1.6em; font-weight: normal; }/*? what this is*/
nav ul li a { color: #4682B4 ; font-size:1.6em; font-weight: bold;}/*color of tab text gray = #999 or #d5d5d5*/
nav ul li a:hover { text-decoration: underline; color: #FF0000;font-weight: bold;}/*color of hover tab text steel-blue = #4682B4 gray = #999 or #d5d5d5*/
nav ul .activepage a { text-decoration: underline; color: #4682B4; font-size: 1.6em; font-weight: bold;}/*Home tab color gray = #999 or #d5d5d5*/
nav ul li .activepage a { text-decoration: underline; color: #4682B4; font-size: 1.6em; font-weight: bold;}
nav ul li .activepage a:hover { text-decoration: underline; color: #4682B4; font-weight: bold;}/*#FF0000*/

nav { border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }
footer { border-top: 1px solid #d5d5d5; font-size: 1.4em; }
footer a:hover { color: #FF0000;}/*Hover color of footer icons red #FF0000, gray = #999 or #d5d5d5*/

.vh {
    height: 400px;
    align-items: center;
    display: flex;
}
.vh > div {
    width: 100%;
    text-align: left;
    vertical-align: left;
}

@viewport{
    zoom: 1.0;
    width: device-width;
}

.share-page {
    text-align: left; font-family: 'fira sans'; color: #999;/*#999*/ 
}
.share-page a { font-family: 'fira sans'; color: #999;}/*#999*/
.share-page a:hover { text-decoration: none; color: #FF0000;}/*#FF0000*/

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.1em; line-height: 1.3em; font-family: 'fira sans'}
ul.posts li { list-style: none; }

/* iPhone */
@media only screen and (width:320px) and (device-width:320px) and (device-height:480px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.667);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 480px;
	}
}
/* iPad */
@media only screen and (width:768px) and (device-width:768px) and (device-height:1024px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.75);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 1024px;
	}
}

 /*header {
  background: #444 url(../images/dee_santiam_river_clip.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
} */
